*{
    margin: 0;
    padding: 0;
}
.open-sans-normal {
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    }


 /* common/ shared style  */
 .secondary-bg{
    background-color: #FFF8F3;
 }
 .text-primary{
    color: #FD6E0A;
 }
 .dark-2{
    color: #474747;
 }
 .dark-1{
    color: #181818;
 }
 .dark-3{
    color: #757575;
 }
 .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
 }
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    
}
.text-center{
    text-align: center;
    
}
.last{
    margin-left: 45%;
    margin-top: 40px;
}

.section-description{
    font-size: 18px;
    font-weight: regular;
    background-color: white;
    padding: 20px 20px;
}

 /* header style */
 .header-secondary-bg{
    background-image: url('../images/developer.png'), url('../images/header_bg.png'); 
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    background-size:contain;
 
 } 
 

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 8%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    margin-top: 8px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
/* Banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
    width: 1136px;
    height: 580px;
    background-size: cover;
}
.banner-greetings{
    font-size: 31px;
    font-weight: 600px;
    padding-bottom: 2px;
    
}

.banner-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}
.para-description{
    font-size: 18px;
    font-weight: 100px;
    margin-bottom: 30px;

}
.banner-profile-picture{
    width: 414px;
    height: 580px;
    margin-right: 30px;
   
   
}
.banner-content{
    width: 415px;
    height: 249px;
   
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
   
}
.item-title{
    font-size: 18px;
    font-weight: 200;
    margin-top: 27px;
}
.item-description{
    font-size: 18px;
    font-weight: bold;
}
/* skills sections */
.skill-container{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px rgba(233, 61, 61, 0.432);
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.skill-title{
    margin: 5px 0;
}

/* resume style */
.resume-container{
    display: flex;
    gap: 30px;
    margin-top: 130px;

}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: semiBold;
    margin-bottom: 20px;
}
.experience-description{
    font-size: 16px;
    font-weight: regular;
}

/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"],footer input[type="email"],footer textarea
{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 24px;
    border: none;
    font-size: 15px;
}

footer a img{
    padding-top: 20px;
    padding-left: 20px;
}
